.mirrorinput {
    color: rgba(0, 0, 0, 0);
}

.mirrorinput::placeholder {
    color: rgba(0, 0, 0, 0);
}

.mirrorinput:focus::placeholder {
    color: inherit;
}

.mirrorinput-clone.mirrorinput-no-pointer {
    pointer-events: none;
}

.mirrorinput:focus ~ .mirrorinput-clone {
    display: none;
}
