.mirrorinput:focus {
    color: inherit;
}

.mirrorinput:focus::placeholder {
    color: inherit;
}

.mirrorinput-clone[readonly] {
    background-color: inherit;
}

.mirrorinput:focus ~ .mirrorinput-clone {
    display: none;
    visibility:hidden;
    pointer-events: none;
}

.mirrorinput-hidden {
    display:none;
    visibility:hidden;
    pointer-events: none;
}
